@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* body styles */
body {
  background-color: #0b1120;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  scroll-behavior: smooth;
}
/* Tabs style */
.tabs button {
  background: #334266;
  /* font-size: 1.4rem; */
  /* padding: 0.8rem 1.8rem; */
  border: none;
  /* border-radius: 0.3rem; */
  text-transform: uppercase;
  /* color: #8998ac; */
  color: #ffffff;
  /* margin: 0.5rem 0.5rem; */
  transition: 0.5s;
}
.tabs .tabActive {
  background: #ffffff;
  color: #334266;
  box-shadow: inset 0 0.3rem 0.5rem rgba(60, 71, 97, 0.7);
}
.tabs button:hover,
.tabs a:hover {
  cursor: pointer;
  box-shadow: inset 0 0.3rem 0.5rem rgba(60, 71, 97, 0.7);
  background: #ffffff;
  color: #334266;
}
.pill {
  transition: 0.5s;
}
.pill:hover {
  box-shadow: inset 0 0.3rem 0.5rem rgba(60, 71, 97, 0.7);
}

/* // Project page css// */

/* body background */

.projectPage {
  background-color: #0b1120;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(148 163 184 / 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  scroll-behavior: smooth;
  height: auto;
}

/* title font  */
.title {
  font-family: serif;
}
.headding {
  font-family: "Noto Serif", serif;
  font-style: italic;
}
/* name */
.name {
  font-family: "Pacifico", cursive;
}
.lineheight {
  line-height: normal;
}
/* column adjust */

@media (min-width: 1024px) {
  .column {
    flex: 1;
    /* overflow-y: scroll; */
    padding: 8px;
  }

  .first-column {
    flex: 1.4;
  }

  .last-column {
    flex: 0.6;
  }
}
